---
---

@import url('https://fonts.googleapis.com/css2?family=Jacquard+12:wght@400&family=Karla:wght@400;700&display=swap');
@import "{{ site.theme }}";

/* Your custom styles below */
body {
    font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jacquard 12', serif;
}
.ui-autocomplete {
    max-height: 200px; /* Adjust this value based on your needs and testing */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    border: 1px solid #ccc; /* Optional: adds a border to the dropdown */
    background-color: white; /* Optional: ensures the background is white */
    width: auto; /* Optional: adjusts the width to fit the content or specify a width */
}
